.media-img{
    img{
        margin: auto;
    }
}

.media-author{
    padding-top: 30px;
    text-align: center;
    img{
        float: left;
    }

    .liked{
        border-color: #e74c3c!important;
        color: #e74c3c;
    }
    h4{
        line-height: 50px;
        float: left;
        margin: 0;
        padding-left: 30px;
    }

    .like{
        line-height: 50px;
        i{
            margin-right: 5px;
        }
    }

    .comment{
        line-height: 50px;
        i{
            margin-right: 5px;
        }
    }
}

.media-caption{
    padding-top:30px;
}

@media screen and (max-width: 992px) {
    .instagram-media-refresh{
        .badge{
            background-color: $instagram;
            width: 90%;
            margin-left: 5%;
            margin-bottom: 20px;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 992px) {
    .instagram-media-refresh{
        .badge{
            background-color: $instagram;
            position: fixed;
            right: 5%;
            top: 10%;
            z-index: 99;
            cursor: pointer;
        }
    }
}